.msgBox{
    background-color:rgb(100, 97, 97);
    padding: 1vmax;
    margin: 1vmax;
    display: inline-block;
    border-radius: 2px;
    clear: both;
}
.right{
    background-color: rgb(0, 128, 87);
    float: right;
}
.left{
    background-color: rgb(217, 225, 120);
    float: left;
}